{% extends "main/base.html" %} {% block content %}

<div class="container">
    <!--Simple Form-->

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <img class="upload" src="https://cdn-icons-png.flaticon.com/512/1251/1251309.png" alt="upload" width=50%>
            <br>
            <br>
            <h2 class="my-4">Upload your picture</h2>
        </div>
        <br>
        <br>
        <br>
        <div calss="upload">
            <input class="custom-file-input" type="file" name="upload" accept="image/*"><a href="{% url 'showvideo' %}" class="btn btn-dark ">Submit</a>


        </div>
</div>

</form>

<!-- The code below is if you want to view the image you submitted -->

<!-- 
          <h2 class="my-4">Movie Poster</h2>
          <div class="row">
            {% if file_url %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
              <img src="{{ file_url }}" class="img-fluid">
              <br>
              <a class="btn btn-dark my-4" href="/">Return to Homepage</a>
            {% else %}
            <p>No movies posters added.</p>
            {% endif %}
          </div> -->

</div>


{% endblock %}