{% extends "main/base.html" %} {% block content %}

<div class="container">
    <!--Simple Form-->

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="custom-file-upload" for="fileUpload" style="font-family:'Montserrat' sans-serif;">Upload your picture here: </label>
        <input class="custom-file-input" type="file" name="upload" accept="image/*">
        <br>
        <br>
        <br>
        <a hrfe="{% url 'show_video' %}" class="btn btn-dark " type="submit">Submit</a></div>

</form>

<!-- The code below is if you want to view the image you submitted -->

<!-- 
          <h2 class="my-4">Movie Poster</h2>
          <div class="row">
            {% if file_url %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
              <img src="{{ file_url }}" class="img-fluid">
              <br>
              <a class="btn btn-dark my-4" href="/">Return to Homepage</a>
            {% else %}
            <p>No movies posters added.</p>
            {% endif %}
          </div> -->

</div>


{% endblock %}